<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-device" version="0.2.3">
    <name>KlarnaCheckout</name>
    <description>Simple integration of Klarna Checkout into hybrid iOS and Android apps</description>
    <license>Apache 2.0</license>
    <keywords>klarna,checkout,cordova</keywords>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="KlarnaCheckout">
                <param name="ios-package" value="KlarnaCheckout"/>
            </feature>
        </config-file>
        <framework custom="true" src="src/ios/iOSKlarnaCheckoutSDK.framework" />
        <framework src="UIKit.framework" />
        <framework src="WebKit.framework" />
        <framework src="Security.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework weak="true" src="JavaScriptCore.framework" />
        <framework weak="true" src="Contacts.framework" />
        <framework weak="true" src="SafariServices.framework" />
        <framework weak="true" src="SystemConfiguration.framework" />
        <header-file src="src/ios/KlarnaCheckout.h" />
        <source-file src="src/ios/KlarnaCheckout.m" />
    </platform>
</plugin>